# ignore the following files and directories
chai-aur-numpy/

# datasets
04CampusX_DataSet
93_CampusX_DSMP_DataSets
data/
datasets/

# notebooks
.ipynb_checkpoints/

# local env
venv/
.venv/

# python
__pycache__/
*.pyc

# editor
.vscode/

# secrets
.env